html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*font-family: 'Lato', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Girassol', cursive;
*/

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    margin:0 auto;
    max-width:80rem;
}



header{
    background-color: white;
    background-image: url(images/water1.jpg);
    background-repeat: no-repeat; 
    display:flex;
    flex-direction: column;
}
.head{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 250px;  
}
.brand{
    width:130px;
    height:40px;
    margin-left: 3.5rem;
    
}
h1{
    font-family:'Girassol', cursive;
    font-size: 50px;
}
.kontakt{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    list-style:none;
    padding:0;
}
.social{
    align-items: center;
}
.twitter{
    width:55px;
    height:55px;
    border-radius: 15%;
}
.facebook{
    width:52px;
    height:52px;
    margin-bottom:2px;
}


.menu{
    list-style:none;
    
    padding:0;
    margin:0;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menuu{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    padding-top:2rem;
    padding-bottom:2rem;
    background-color: white;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    /*width: 60%;*/
    padding: 7px 105px 10px 105px;
    /*margin:0.10rem;*/
    /*border-right: 2px solid white;*/
    border-radius: 5%;
    background-color:  rgb(52, 121, 248);
    box-shadow: 5px 5px 2px rgba(62, 81, 247, 0.2);
    display:inline-block;
    transition-property: transform;
    transition-duration: 0.5s;
}
.menu a:hover{
    transform: translateY(-5px);
}
.last{
    border-right:none;
}




.linka{
    display:flex;
    flex-direction: row;
    font-size: 25px;
    
    align-items: center;
    color: rgb(22, 20, 19);
    
    font-weight: 700;
}
.nonstop{
    background-color: rgba(255, 230, 7, 0.945);
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-left:7rem;
    padding-right:7rem;
    margin-top: 2rem;
    margin-bottom:2rem;
    margin-left:auto;
    transform: skewX(-20deg);
}
.non{
    transform:skewX(20deg);
}
.number{
    margin-left:10px;
    background-color: rgba(255, 230, 7, 0.945);
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-left:10rem;
    padding-right:10rem;
    margin-top: 2rem;
    margin-bottom:2rem;
    margin-right:auto;
    font-size: 40px;
    transform: skewX(-20deg);
    text-transform: none;
    animation: animace 2s linear;
    animation-iteration-count: infinite;
}
@keyframes animace{
    0%{
        background:rgba(255, 230, 7, 0.945);
    }
    50%{
        background:rgba(255, 106, 7, 0.945);
    }
    100%{
        background:rgba(255, 230, 7, 0.945);
    }
}
.num{
    transform:skewX(20deg);
}
.img{
    display:flex;
    justify-content: center;
    margin:1rem;
    padding-bottom:2rem;
    border-bottom: 1px solid rgb(52, 121, 248);
    
}
.pero{
    width:80%;
}
h2{
    font-family:'Girassol', cursive;
    font-size: 40px;
    margin:2rem;
}
.work{
    height: 200px;
}
.spolehlivost img{
    margin-left: 20rem;
}
.profesionalita img{
    margin-left:42rem;
}
.spokojenost img{
    margin-left:61rem;
}
.onas{
    border-bottom: 1px solid rgb(52, 121, 248);
    padding-bottom: 2rem;
    padding-top:6rem;
}



.service{
    display:flex;
    flex-direction: column;
    margin:1rem;
    
    padding-bottom: 2rem;
    padding-top:6rem;
}
.stroj{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1rem;
    margin-top:1rem;
}
.s{
    width:50%;
}
.mpero{
    height: 300px;
    width:40%;
}
.voda{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
.v{
    width:50%;
}
.kamera{
    margin-right:10rem;
    width:30%;
    height:300px;
}
.revize{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1rem;
}
.r{
    width:50%;
}
.detekce{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
.d{
    width:50%;
}
.kamera{
    margin-right:10rem;
    width:30%;
    height:300px;
}
.provadime{
    margin-left:1rem;
    font-family:'Girassol', cursive;
    font-size:30px;
}
.do{
    list-style:none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:300px;
    padding-bottom:2rem;
    border-bottom: 1px solid rgb(52, 121, 248);
}
.otaznik{
    height:30px;
    width:30px;
    
}
.wedo{
    display:flex;
    flex-direction: row;
}
.fer{
    padding-top:6rem;
}
.why{
    font-family:'Girassol', cursive;
    font-size:30px;
}




footer{
    background-color:rgb(52, 121, 248);
    color:white;
}
.kontakty{
    padding-top:2rem;
}
.brand2{
    font-weight:700;
    font-size: 18px;
    padding-bottom:1rem;
}
.spodni{
    list-style:none;
    padding-top:3rem;
}
.foot{
    margin-left:35rem;
}
.fo{
    display: flex;
    flex-direction: row;
}
.konec{
    width: 50%;
}
.map{
    width: 50%;
}
.mapa{
    height:300px;
}
