html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*font-family: 'Lato', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Girassol', cursive;
rgba(255, 106, 7, 0.945);
rgba(87, 243, 56, 0.945)
*/

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    font-weight: 400;
    font-size: 120%;
    line-height: 1.5rem;
    margin:0 auto;
    max-width:80rem;
}



header{
    background-color: white;
    background-image: url(images/water1.jpg);
    background-repeat: no-repeat; 
    display:flex;
    flex-direction: column;
}
.head{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px; 
    flex-wrap: nowrap; 
}
.brand{
    width:15%;
    height:20%;
    margin-right: auto;
    margin-top:1rem;
    position: relative;
    top:2rem;
    left:2rem;
}
h1{
    font-family:'Girassol', cursive;
    font-size: 250%;
    line-height: 3.5rem;
    margin-top:2rem;
    margin-bottom:2rem;
    padding-left:2rem;
    text-align: center;
}
.first{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self:flex-end;

}
.contact{
    list-style:none;
    padding:0;
}
.mail{
    line-height: 2.5rem;
}
.social{
    align-items: center;
    display:flex;
    flex-direction:row;
    align-self: flex-end;
    margin-top:1rem;
}
.twitter{
    width:55px;
    height:55px;
    border-radius: 15%;
    transition-property: transform;
    transition-duration: 0.5s;
}
.twitter:hover{
    transform: translateY(-5px);
}
.facebook{
    width:53px;
    height:53px;
    margin-bottom:2px;
    
    transition-property: transform;
    transition-duration: 0.5s;
}
.facebook:hover{
    transform: translateY(-5px);
}
.face{
    padding:0;
    margin:0;
}
.german{
    width:43px;
    margin-left:1rem;
    margin-top:0.2rem;
    border: 1px solid black;
    
    transition-property: transform;
    transition-duration: 0.5s;
}
.german:hover{
    transform: translateY(-5px);
}
.czech{
    width:45px;
    height:28.5px;
    margin-left:1rem;
    margin-top:0.2rem;
    border: 1px solid black;
    
    transition-property: transform;
    transition-duration: 0.5s;
}
.czech:hover{
    transform: translateY(-5px);
}


.menu{
    list-style:none;
    
    padding:0;
    margin:0;
    height: 50px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menuu{
    position:-webkit-sticky;
    position:sticky;
    top:0;
    padding-top:2rem;
    padding-bottom:0;
    background-color: white;
    
}
.menu{
    background-color:  rgb(52, 121, 248);
    box-shadow: 5px 5px 2px rgba(62, 81, 247, 0.2);
    border-radius: 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    text-decoration:underline;
    padding: 1rem 3rem 1rem 3rem;
    display:inline-block;
    transition-property: transform;
    transition-duration: 0.5s;
}
.menu a:hover{
    transform: translateY(-5px);
}
.menubutton{
    display:none;
}




.linka{
    display:flex;
    flex-direction: row;
    font-size: 110%;
    
    align-items: center;
    color: rgb(22, 20, 19);
    
    font-weight: 700;
    
    
}
.nonstop{
    background-color: rgba(255, 230, 7, 0.945);
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    margin-top: 2rem;
    margin-bottom:1.5rem;
    margin-left:auto;
    transform: skewX(-20deg);
}
.non{
    transform:skewX(20deg);
}
.number{
    margin-left:10px;
    background-color: rgba(255, 230, 7, 0.945);
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left:3rem;
    padding-right:3rem;
    margin-top: 2rem;
    margin-bottom:1.5rem;
    margin-right:auto;
    font-size: 135%;
    transform: skewX(-20deg);
    animation-name:animace;
    animation-duration:1.3s;
    animation-iteration-count: 3;
    animation-direction:linear;
}
.num{
    transform:skewX(20deg);
}
@keyframes animace{
    0%{
        transform:scale(1.0) skewX(-20deg);
    }
    50%{
        transform:scale(1.2) skewX(-20deg);
    }
    100%{
        transform:scale(1.0) skewX(-20deg);
    }
}
.img{
    display:flex;
    justify-content: center;
    margin:1rem;
    padding-bottom:2rem;
    border-bottom: 1px solid rgb(52, 121, 248);
    
}
.pero{
    width:80%;
}
.onas{
    border-bottom: 1px solid rgb(52, 121, 248);
    padding-bottom: 2rem;
    padding-top:11rem;
    text-align:center;
    margin-bottom:2rem;
    display:flex;
    flex-direction: column;
}
h2{
    font-family:'Girassol', cursive;
    font-size: 35px;
    margin:2rem;
}
.hserv{
    text-align: center;
}
.loga{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:5rem;
    padding-bottom:2rem;
    border-bottom: 1px solid rgb(52, 121, 248);
}
.work{
    height: 150px;
}
.spolehlivost{
    padding:2rem;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.profesionalita{
    padding:2rem;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.cas{
    padding:2rem;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.spokojenost{
    padding:2rem;
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.spolehlivost img{
    margin-left: 2rem;
}
.profesionalita img{
    margin-left:2rem;
}
.spokojenost img{
    margin-right:2rem;
}
h4{
    font-size:1.5rem;
}




.service{
    display:flex;
    flex-direction: column;
    margin:1rem;
    text-align:center;
    
    padding-bottom: 2rem;
    padding-top:10.5rem;
    padding-right:0;
    padding-left:0;
}
.stroj{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1rem;
    margin-top:1rem;
    
}
.s{
    width:50%;
    padding-right: 1rem;
    
}
.mpero{
    height: 300px;
    width:40%;
    margin-top:2rem;
}
.voda{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    
}
.v{
    width:50%;
    
}
.revize{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:1rem;
    
}
.r{
    width:50%;
    padding-right: 1rem;
    
}
.detekce{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;

}
.d{
    width:50%;
    
}
.kamera{
    margin-right:10rem;
    width:30%;
    height:280px;
    margin-top:2rem;
}
.detektor{
    margin-right:10rem;
    width:25%;
    height:300px;
    margin-top:2rem;
}
.nadpis{
    font-family:'Girassol', cursive;
    font-size:30px;
    text-align:center;
    margin-top:5rem;
}
.provadime{
    margin-top:5rem;
    margin-left:1rem;
    font-family:'Girassol', cursive;
    font-size:30px;
}
.do{
    /*display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:300px;*/
    margin-left:auto;
    margin-right:auto;
    line-height: 2.5rem;
    list-style-image: url(images/odrazka.png);
    
}
.do li{
    text-align:left;
}
.fer{
    padding-top:10.5rem;
    display:flex;
    flex-direction: column;
    text-align:center;
}
.why{
    font-family:'Girassol', cursive;
    font-size:30px;
    margin-top:5rem;
}
.because{
    line-height: 2.5rem;
    margin-left:auto;
    margin-right:auto;
    list-style-image: url(images/odrazka.png);
}
.because li{
    text-align:left;
}

.sentence{
    margin-top:3rem;
    line-height: 2rem;
    align-self:center;
    font-size:2.5rem;
    color:rgb(21, 43, 243);
    font-family: 'Girassol', cursive;
    padding-bottom:1rem;
}




footer{
    display: flex;
    flex-direction: column;
}
.white{
    background-color:white;
    padding-top:12rem;
}
.kon{
    background-color:rgb(52, 121, 248);
    color:white;
}

.kontakty{
    padding-top:1rem;
    
}
.brand2{
    font-weight:700;
    font-size: 18px;
    
}
.adress{
    padding-bottom:1rem;
}

.foot{
    
    align-self:center;
}
.fo{
    display: flex;
    flex-direction: row;
}
.konec{
    width: 50%;
    margin-left:2.5rem;
    display:flex;
    flex-direction:column;
}
.mailu{
    line-height: 2.5rem;
    margin-top:1rem;
}
.ico{
    line-height:2.5rem;
}
.tel{
    display:flex;
    flex-direction: row;
    padding:0;
    margin:0;
    line-height: 0;

}
.tel li{
    padding:0;
}
.mapa{
    height:300px;
    margin-bottom:2rem;
    width: 120%;
}
.mapa:hover{
    transform: scale(1.1,1.1);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}


@media (max-width:1140px){
    .mapa{
        height:250px;
        width:100%;
    }
}
@media (max-width:991px){
    .onas{
        padding-top:7rem;
    }
    .service{
        padding:7rem;
    }
    .fer{
        padding-top:7rem;
    }
    .kontakty{
        padding-top:6rem;   
    }
    .head{
    
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 250px; 
    }
    .first{
        display:flex;
        flex-direction: column;
        align-content:flex-end;
        align-self:flex-end;
    }
    
    .onas{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:1rem;
        margin-right:1rem;
    }
    .serv{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:1rem;
        margin-right:1rem;
        
    }
    .fer{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:1rem;
        margin-right:1rem;
    }
    .kon{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-left:1rem;
        margin-right:1rem;
    }
    .fo{
        display:flex;
        flex-direction:column;
    }
    .map{
        margin-left:3rem;
    }
    .contact{
        display:none;
    }
    .social{
        display:flex;
        flex-direction: column;  
        margin-right:2rem;  
        
    }
    .twitter:hover{
        transform: translateX(-5px);
    }
    .facebook:hover{
        transform: translateX(-5px);
    }
    .czech:hover:hover{
        transform: translateX(-5px);
    }
    .german:hover{
        transform: translateX(-5px);
    }
    .linka{
        display:flex;
        flex-direction: column;
    }
    .nonstop{
        align-items:center;
        margin:1rem;
        
    }
    .number{
        align-items:center;
        margin:1rem;
    }
    .menuu{
        display:none;
        position:-webkit-sticky;
        position:sticky;
    }
    .menu{
        display:flex;
        flex-direction:column;
        justify-content: center;
        position: absolute;
        top:86%;
        right:12%;
        height: 300px;
        width:60%;
        z-index:20;
        
        text-decoration:none;
        margin:0;
        padding:0;
        background-color: rgba(52, 121, 248, 0.945);
    }
    .menu a{
        display:block;
        font-size:120%;
        text-decoration: none;
        padding:1.5rem 1rem 1.5rem 1rem;        
    }
    .menu li{
        width:100%;
        text-align:center;
        padding-left:2rem;
    }  
    .lif{
        border-bottom: 1px solid white;
        width:90%;
        padding-bottom:2rem;
        
    }
    .lis{
        border-bottom: 1px solid white;
        width:90%;
        padding-bottom:2rem;
        padding-top:2rem;
    }
    .lit{
        border-bottom: 1px solid white;
        width:90%;
        padding-bottom:2rem;
        padding-top:2rem;
    }
    .lifo{
        width:90%;
        padding-top:2rem;
    }
    .menu a:hover{
        transform: translateY(0);
        
    } 
    .menu a:hover{
        text-decoration:underline;
    } 
    .twitter{
        width:25px;
        height:25px;
        border-radius: 15%;
    }
    .facebook{
        width:25px;
        height:25px;
        margin-bottom:2px;
    }
    .german{
        width:25px;
        margin-left:0;
    }
    .czech{
        width:25px;
        height:15px;
        margin-left:0;
    }
    .nadpishl{
        font-size:2.5rem;
        margin-top:0;
        align-self:center;
    }
    .menubutton{
        display:block;
        width:70px;
        height:60px;
        margin-left:auto;
        margin-right:5rem;
        cursor: pointer;
    }
    .button{
        position:-webkit-sticky;
        position:sticky;
        top:0;
        background-color:white;
        padding-top:1rem;
        padding-bottom:1rem;
        z-index:20;
        
    }
    .menuu{
        position:static;
        padding:0;
    }
    .sl{
        text-align:center;
    }
    .s{
        width:100%;
        
    }
    .v{
        width:100%;
        
    }
    .r{
        width:100%;
        
    }
    .d{
        width:100%;
        
    }
    .detektor{
        width:30%;
        height:50%;
        margin-right:auto;
        margin-left:auto;
        
    }
    .mpero{
        width:60%;
        height:40%;
        margin-right:auto;
        margin-left:auto;
    }
    .kamera{
        width:70%;
        height:50%;
        margin-right:auto;
        margin-left:auto; 
    }
    .stroj{
        display:flex;
        flex-direction: column;
        
    }
    .voda{
        display:flex;
        flex-direction: column;
        
    }
    .revize{
        display:flex;
        flex-direction: column;
        
    }
    .detekce{
        display:flex;
        flex-direction: column;
        
    }
    .konec{
        width: 100%;
        text-align:center;
        
        padding-right:1rem;
        line-height: 1rem;
        margin-left:0;
    }
    .ico{
        margin-top:1rem;
    }
    .tel{
        align-self:center;
        /*margin-left:4rem;*/
    }
}
@media (max-width:827px){
    .contact{
        display:none;
    }
}
@media (max-width:640px){
    .brand{
        width:80px;
        height:40px;
    
    }
    .mapa{
        width:300px;
        height:180px;
    }
}
@media (min-width:640px) and (max-width:809px){
    h1{
        margin-left:0;
        margin-right:0;
    }
}
@media (min-width:640px) and (max-width:991){
    /*h1{
        margin-left:15rem;
        margin-right:15rem;
    }*/
    .brand{
        width:20%;
        height:15%;
        top:2rem;

    }
}

@media (max-width:445px){
    .mapa{
        width:150px;
        height:90px;
    }
    .map{
        padding:0;
        margin:1rem;
        margin-left:3rem;
    }
    .tel{
        flex-direction:column;
    }
}
@media (max-width:700px){
    .loga{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .spolehlivost{
        width:100%;
    }
    .profesionalita{
        width:100%;
    }
    .cas{
        width:100%;
    }
    .spokojenost{
        width:100%;
    }
    .uvod2{
        display:block;
        line-height: 2rem;
    }
    .uvod{
        display:none;
    }
}
@media (min-width:701px){
    .uvod2{
        display:none;
    }
}
@media (max-width:330px){
    .head{
        height:250px;
    }
    .nadpishl{
        font-size: 2rem;
    }
    .brand{
        margin-top:2rem;
    }
    .menubutton{
        margin-right:0.5rem;
    }
}
@media (max-width:500px){
    .menubutton{
        margin-right:2rem;
    }
}
@media (max-width:360px){
    .nonstop{
        font-size:70%;
    }
    .number{
        font-size:80%;
    }
}
.show{
    display: flex;
}
